openapi: 3.2.0
info:
  title: Kickstart Publisher Media Type Mapping Controller API
  description: API documentation for Kickstart services
  contact:
    name: Your Team
    email: support@example.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1.0'
servers:
- url: https://platform.digitalremedy.com
  description: Generated server url
tags:
- name: publisher-media-type-mapping-controller
paths:
  /api/mediaTypes/{id}:
    get:
      tags:
      - publisher-media-type-mapping-controller
      operationId: get_4
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PublisherMediaTypeMapping'
    put:
      tags:
      - publisher-media-type-mapping-controller
      operationId: update_4
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublisherMediaTypeMapping'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PublisherMediaTypeMapping'
    delete:
      tags:
      - publisher-media-type-mapping-controller
      operationId: delete_4
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
  /api/mediaTypes:
    get:
      tags:
      - publisher-media-type-mapping-controller
      operationId: list_1
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublisherMediaTypeMapping'
    post:
      tags:
      - publisher-media-type-mapping-controller
      operationId: create_6
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublisherMediaTypeMapping'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PublisherMediaTypeMapping'
components:
  schemas:
    PublisherMediaTypeMapping:
      type: object
      properties:
        id:
          type: integer
          format: int32
        mediaPublisherId:
          type: integer
          format: int32
        productCategory:
          $ref: '#/components/schemas/ProductCategory'
        productType:
          $ref: '#/components/schemas/ProductType'
        siteDomain:
          type: string
    ProductCategory:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      required:
      - name
    ProductType:
      type: object
      properties:
        canonicalProductId:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        name:
          type: string
      required:
      - name
