openapi: 3.2.0
info:
  title: Kickstart Budget Group Controller API
  description: API documentation for Kickstart services
  contact:
    name: Your Team
    email: support@example.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1.0'
servers:
- url: https://platform.digitalremedy.com
  description: Generated server url
tags:
- name: budget-group-controller
paths:
  /api/budgetGroup/{id}:
    put:
      tags:
      - budget-group-controller
      operationId: update_8
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetGroup'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseBudgetGroup'
  /api/budgetGroup/create:
    post:
      tags:
      - budget-group-controller
      operationId: create_10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetGroup'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseBudgetGroup'
  /api/budgetGroup/budgetGroupByPlanId/{ioId}:
    get:
      tags:
      - budget-group-controller
      operationId: getByPlanId
      parameters:
      - name: ioId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListBudgetGroup'
components:
  schemas:
    BudgetGroup:
      type: object
      properties:
        budget:
          type: number
        budgetGroupId:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        markup:
          type: number
        planId:
          type: integer
          format: int32
    ApiResponseListBudgetGroup:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/BudgetGroup'
    ApiResponseBudgetGroup:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          $ref: '#/components/schemas/BudgetGroup'
