openapi: 3.2.0
info:
  title: Kickstart Token Controller API
  description: API documentation for Kickstart services
  contact:
    name: Your Team
    email: support@example.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1.0'
servers:
- url: https://platform.digitalremedy.com
  description: Generated server url
tags:
- name: Token Controller
paths:
  /api/token/thoughtSpot:
    get:
      tags:
      - Token Controller
      operationId: generateThoughtSpotToken
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseThoughtSpotToken'
      summary: Generate thought spot token
      x-summary-source: derived
  /api/token/tableau:
    get:
      tags:
      - Token Controller
      operationId: tableauJwtToken
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseString'
      summary: Tableau jwt token
      x-summary-source: derived
  /api/token/tableau/{advertiserId}:
    get:
      tags:
      - Token Controller
      operationId: tableauJwtToken_1
      parameters:
      - name: advertiserId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseString'
      summary: Tableau jwt token 1
      x-summary-source: derived
  /api/token/tableau/sign/{advertiserId}:
    get:
      tags:
      - Token Controller
      operationId: tableauSignInTokenByAdvertiser
      parameters:
      - name: advertiserId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseString'
      summary: Tableau sign in token by advertiser
      x-summary-source: derived
  /api/token/tableau/account/{accountId}:
    get:
      tags:
      - Token Controller
      operationId: tableauJwtTokenByAccount
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseString'
      summary: Tableau jwt token by account
      x-summary-source: derived
  /api/token/refresh:
    get:
      tags:
      - Token Controller
      operationId: refreshToken
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseTokenWrapper'
      summary: Refresh token
      x-summary-source: derived
  /api/token/parse:
    get:
      tags:
      - Token Controller
      operationId: parseJwtToken
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseTokenWrapper'
      summary: Parse jwt token
      x-summary-source: derived
  /api/token/remove:
    delete:
      tags:
      - Token Controller
      operationId: removeJwtToken
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
      summary: Remove jwt token
      x-summary-source: derived
components:
  schemas:
    ApiResponseThoughtSpotToken:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          $ref: '#/components/schemas/ThoughtSpotToken'
    ThoughtSpotToken:
      type: object
      properties:
        userName:
          type: string
        authToken:
          type: string
    ApiResponseTokenWrapper:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          $ref: '#/components/schemas/TokenWrapper'
    TokenWrapper:
      type: object
      properties:
        apps:
          type: array
          items:
            type: integer
            format: int32
        expires:
          type: integer
          format: int64
        orgId:
          type: integer
          format: int32
        userId:
          type: integer
          format: int64
        email:
          type: string
    ApiResponseString:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: string
