openapi: 3.2.0
info:
  title: Kickstart Vendor Master Controller API
  description: API documentation for Kickstart services
  contact:
    name: Your Team
    email: support@example.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1.0'
servers:
- url: https://platform.digitalremedy.com
  description: Generated server url
tags:
- name: vendor-master-controller
paths:
  /api/vendors:
    get:
      tags:
      - vendor-master-controller
      operationId: getAllVendor
      parameters:
      - name: productCategoryId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListVendorMaster'
components:
  schemas:
    ApiResponseListVendorMaster:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/VendorMaster'
    VendorMaster:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        deletedAt:
          type: string
          format: date-time
        id:
          type: integer
          format: int32
        name:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
