openapi: 3.2.0
info:
  title: Kickstart Comment Controller API
  description: API documentation for Kickstart services
  contact:
    name: Your Team
    email: support@example.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1.0'
servers:
- url: https://platform.digitalremedy.com
  description: Generated server url
tags:
- name: comment-controller
paths:
  /api/comments/{id}:
    get:
      tags:
      - comment-controller
      operationId: get_6
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Comment'
    put:
      tags:
      - comment-controller
      operationId: update_7
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Comment'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Comment'
    delete:
      tags:
      - comment-controller
      operationId: delete_7
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
  /api/comments:
    get:
      tags:
      - comment-controller
      operationId: list_3
      parameters:
      - name: itemId
        in: query
        required: true
        schema:
          type: string
      - name: itemType
        in: query
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
    post:
      tags:
      - comment-controller
      operationId: create_9
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Comment'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Comment'
  /api/comments/notification:
    post:
      tags:
      - comment-controller
      operationId: notification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentNotification'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponse'
components:
  schemas:
    Comment:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        deletedAt:
          type: string
          format: date-time
        id:
          type: integer
          format: int32
        itemId:
          type: string
        itemType:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        value:
          type: string
    ApiResponse:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result: {}
    CommentNotification:
      type: object
      properties:
        emails:
          type: array
          items:
            type: string
        mentionedUsers:
          type: array
          items:
            type: string
        comment:
          $ref: '#/components/schemas/Comment'
        lineItemName:
          type: string
        planId:
          type: integer
          format: int32
        accountName:
          type: string
        accountId:
          type: integer
          format: int32
