openapi: 3.2.0
info:
  title: Kickstart Segment Controller API
  description: API documentation for Kickstart services
  contact:
    name: Your Team
    email: support@example.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1.0'
servers:
- url: https://platform.digitalremedy.com
  description: Generated server url
tags:
- name: segment-controller
paths:
  /api/segments/{id}:
    get:
      tags:
      - segment-controller
      operationId: getSegmentById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
    put:
      tags:
      - segment-controller
      operationId: updateSegment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Segment'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Segment'
    delete:
      tags:
      - segment-controller
      operationId: deleteSegment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
  /api/segments:
    get:
      tags:
      - segment-controller
      operationId: getAllSegments
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Segment'
    post:
      tags:
      - segment-controller
      operationId: createSegment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Segment'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Segment'
  /api/segments/download:
    get:
      tags:
      - segment-controller
      operationId: downloadRecordsAsJson
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
components:
  schemas:
    Segment:
      type: object
      properties:
        code:
          type: string
        contextual:
          type: boolean
        id:
          type: integer
          format: int64
        isContextual:
          type: boolean
        lastActivity:
          type: string
          format: date-time
        memberId:
          type: integer
          format: int32
        name:
          type: string
        price:
          type: string
        providerId:
          type: integer
          format: int32
        providerName:
          type: string
        reach:
          type: string
        segmentObjectTypeId:
          type: integer
          format: int32
        type:
          type: string
