openapi: 3.2.0
info:
  title: Kickstart API Controller API
  description: API documentation for Kickstart services
  contact:
    name: Your Team
    email: support@example.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1.0'
servers:
- url: https://platform.digitalremedy.com
  description: Generated server url
tags:
- name: api-controller
paths:
  /api/run/updateLineItemStatus:
    post:
      tags:
      - api-controller
      operationId: updateLineItemStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseString'
      summary: Update line item status
      x-summary-source: derived
  /api/run/updateLineItemStatusLive:
    post:
      tags:
      - api-controller
      operationId: updateLineItemStatusLive
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseString'
      summary: Update line item status live
      x-summary-source: derived
  /api/run/sendDailySummaryReport:
    post:
      tags:
      - api-controller
      operationId: runReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseString'
      summary: Run report
      x-summary-source: derived
  /api/run/generateReports:
    post:
      tags:
      - api-controller
      operationId: generateReports
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseString'
      summary: Generate reports
      x-summary-source: derived
  /api/run/flip_pixel_activity_scheduler:
    post:
      tags:
      - api-controller
      operationId: runFlipPixelActivityController
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponse'
      summary: Run flip pixel activity controller
      x-summary-source: derived
  /api/run/exportScheduleJob:
    post:
      tags:
      - api-controller
      operationId: runExportScheduleJob
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseString'
      summary: Run export schedule job
      x-summary-source: derived
  /api/reportGenerationLog/updateStatus:
    post:
      tags:
      - api-controller
      operationId: updateReportGenerationLogStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportLogStatusUpdateRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseString'
      summary: Update report generation log status
      x-summary-source: derived
  /api/workflowOptions:
    get:
      tags:
      - api-controller
      operationId: getWorkflowOptions
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListWorkflowOption'
      summary: Get workflow options
      x-summary-source: derived
  /api/verificationPartners:
    get:
      tags:
      - api-controller
      operationId: getAllVerificationPartners
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListVerificationPartner'
      summary: Get all verification partners
      x-summary-source: derived
  /api/trackingTypes:
    get:
      tags:
      - api-controller
      operationId: getTrackingTypes
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListTrackingPixel'
      summary: Get tracking types
      x-summary-source: derived
  /api/taskTypeOptions:
    get:
      tags:
      - api-controller
      operationId: getTaskTypeOptions
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListTaskTypeOption'
      summary: Get task type options
      x-summary-source: derived
  /api/targetingElements:
    get:
      tags:
      - api-controller
      operationId: getTargetableElements
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListTargetableElement'
      summary: Get targetable elements
      x-summary-source: derived
  /api/targetableElement/{targetableElementId}/options:
    get:
      tags:
      - api-controller
      operationId: getTargetableElementOptions
      parameters:
      - name: targetableElementId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: term
        in: query
        required: false
        schema:
          type: string
      - name: source
        in: query
        required: false
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListOptionDTO'
      summary: Get targetable element options
      x-summary-source: derived
  /api/statusOptions/{type}:
    get:
      tags:
      - api-controller
      operationId: getAllStatusOptions
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListStatusOption'
      summary: Get all status options
      x-summary-source: derived
  /api/roles:
    get:
      tags:
      - api-controller
      operationId: getRoles
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListRole'
      summary: Get roles
      x-summary-source: derived
  /api/productTypes/{productTypeId}:
    get:
      tags:
      - api-controller
      operationId: getProductTypeById
      parameters:
      - name: productTypeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseProductType'
      summary: Get product type by id
      x-summary-source: derived
  /api/productTypes/{productTypeId}/targetingTypes/{targetingType}:
    get:
      tags:
      - api-controller
      operationId: getTargetableElements_1
      parameters:
      - name: productTypeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: targetingType
        in: path
        required: true
        schema:
          type: string
      - name: accountId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListTargetableElement'
      summary: Get targetable elements 1
      x-summary-source: derived
  /api/productTypes/{productTypeId}/targetingTypes/{targetingType}/level/{level}:
    get:
      tags:
      - api-controller
      operationId: getTargetableElementsByLevel
      parameters:
      - name: productTypeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: targetingType
        in: path
        required: true
        schema:
          type: string
      - name: level
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListTargetableElement'
      summary: Get targetable elements by level
      x-summary-source: derived
  /api/productTypes/{productTypeId}/kpiOptions:
    get:
      tags:
      - api-controller
      operationId: getKpiOptions
      parameters:
      - name: productTypeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListKpiOption'
      summary: Get kpi options
      x-summary-source: derived
  /api/productTypes/{productTypeId}/goalOptions:
    get:
      tags:
      - api-controller
      operationId: goalOptions
      parameters:
      - name: productTypeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Option'
      summary: Goal options
      x-summary-source: derived
  /api/productCategories:
    get:
      tags:
      - api-controller
      operationId: getProductCategories
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListProductCategoryDTO'
      summary: Get product categories
      x-summary-source: derived
  /api/productCategories/{productCategoryId}:
    get:
      tags:
      - api-controller
      operationId: getProductCategoryById
      parameters:
      - name: productCategoryId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseProductCategoryDTO'
      summary: Get product category by id
      x-summary-source: derived
  /api/priceTypeOptions:
    get:
      tags:
      - api-controller
      operationId: getPriceTypeOptions
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListKeyValue'
      summary: Get price type options
      x-summary-source: derived
  /api/options/marketingObjectives:
    get:
      tags:
      - api-controller
      operationId: getMarketingObjectives
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListMarketingObjective'
      summary: Get marketing objectives
      x-summary-source: derived
  /api/options/locations:
    get:
      tags:
      - api-controller
      operationId: getLocations
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListLocation'
      summary: Get locations
      x-summary-source: derived
  /api/options/industries:
    get:
      tags:
      - api-controller
      operationId: getIndustries
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListIndustry'
      summary: Get industries
      x-summary-source: derived
  /api/options/budgetRanges:
    get:
      tags:
      - api-controller
      summary: Get budget ranges
      operationId: getBudgetRanges
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListBudgetRange'
  /api/kpiOptions:
    get:
      tags:
      - api-controller
      operationId: getKpiOptions_1
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListKpiOption'
      summary: Get kpi options 1
      x-summary-source: derived
  /api/hierarchies:
    get:
      tags:
      - api-controller
      operationId: getAllProductHierarchies
      parameters:
      - name: accountId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: accountType
        in: query
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductHierarchy'
      summary: Get all product hierarchies
      x-summary-source: derived
  /api/flagOptions:
    get:
      tags:
      - api-controller
      operationId: getFlagOptions
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListFlagOption'
      summary: Get flag options
      x-summary-source: derived
  /api/brandSafetyLevels:
    get:
      tags:
      - api-controller
      operationId: getAllBrandSafetyLevels
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListBrandSafetyLevel'
      summary: Get all brand safety levels
      x-summary-source: derived
  /api/billingTypeOptions:
    get:
      tags:
      - api-controller
      operationId: getBillingTypeOptions
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListKeyValue'
      summary: Get billing type options
      x-summary-source: derived
  /api/applications:
    get:
      tags:
      - api-controller
      operationId: getApplications
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListApplication'
      summary: Get applications
      x-summary-source: derived
components:
  schemas:
    ApiResponseListRole:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/Role'
    ApiResponseListIndustry:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/Industry'
    WorkflowOption:
      type: object
      properties:
        displayOrder:
          type: integer
          format: int32
        flagColorCode:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        type:
          type: string
          enum:
          - LI
          - IO
          - IO_CHANGE
          - LI_CHANGE
    ApiResponseListApplication:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/Application'
    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          minLength: 1
        password:
          type: string
          minLength: 1
      required:
      - email
      - password
    StatusOption:
      type: object
      properties:
        displayOrder:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        status:
          type: string
        type:
          type: string
          enum:
          - LI
          - IO
          - IO_CHANGE
          - LI_CHANGE
    ProductCategoryDTO:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        productTypes:
          type: array
          items:
            $ref: '#/components/schemas/ProductType'
    ApiResponseListTrackingPixel:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/TrackingPixel'
    MarketingObjective:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      required:
      - name
    FlagOption:
      type: object
      properties:
        icon:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        value:
          type: string
    BudgetRange:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
    ApiResponseListFlagOption:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/FlagOption'
    ApiResponseProductType:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          $ref: '#/components/schemas/ProductType'
    ApiResponseListBudgetRange:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/BudgetRange'
    Industry:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
    ApiResponseListTaskTypeOption:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/TaskTypeOption'
    ApiResponseProductCategoryDTO:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          $ref: '#/components/schemas/ProductCategoryDTO'
    ApiResponseListOptionDTO:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/OptionDTO'
    ReportLogStatusUpdateRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          minLength: 1
        password:
          type: string
          minLength: 1
        reportGenerationLogId:
          type: integer
          format: int32
        status:
          type: string
          enum:
          - SUCCESS
          - FAILED
          - PROCESSING
      required:
      - email
      - password
      - reportGenerationLogId
      - status
    ApiResponseString:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: string
    KpiOption:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
    ApiResponseListBrandSafetyLevel:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/BrandSafetyLevel'
    ApiResponseListKpiOption:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/KpiOption'
    ApiResponseListLocation:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/Location'
    VerificationPartner:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
    BrandSafetyLevel:
      type: object
      properties:
        id:
          type: integer
          format: int32
        levelText:
          type: string
    Location:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
    Application:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
    ApiResponseListStatusOption:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/StatusOption'
    ApiResponseListKeyValue:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/KeyValue'
    ApiResponseListVerificationPartner:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/VerificationPartner'
    ProductHierarchy:
      type: object
      properties:
        accountId:
          type: integer
          format: int32
        accountType:
          type: string
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        deletedAt:
          type: string
          format: date-time
        displayName:
          type: string
        id:
          type: integer
          format: int32
        multiselect:
          type: integer
          format: int32
        parentId:
          type: integer
          format: int32
        refId:
          type: integer
          format: int32
        type:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
    KeyValue:
      type: object
      properties:
        key:
          type: string
        value: {}
        extra:
          type: string
    ProductType:
      type: object
      properties:
        canonicalProductId:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        name:
          type: string
      required:
      - name
    TaskTypeOption:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
    ApiResponseListWorkflowOption:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowOption'
    ApiResponseListTargetableElement:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/TargetableElement'
    Option:
      type: object
      properties:
        text:
          type: string
        none_of_the_above:
          type: boolean
    TargetableElement:
      type: object
      properties:
        id:
          type: integer
          format: int32
        level:
          type: integer
          format: int32
        name:
          type: string
        targetingType:
          type: string
      required:
      - name
    TrackingPixel:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        value:
          type: string
      required:
      - name
    Role:
      type: object
      properties:
        canCreateRole:
          type: array
          items:
            type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/Permission'
          uniqueItems: true
    ApiResponse:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result: {}
    Permission:
      type: object
      properties:
        entity:
          type: string
          enum:
          - User
          - Account
          - Advertiser
          - RateCard
          - Organization
        id:
          type: integer
          format: int32
        privilege:
          type: string
          enum:
          - All
          - Read
          - Create
          - Delete
    ApiResponseListMarketingObjective:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/MarketingObjective'
    ApiResponseListProductCategoryDTO:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/ProductCategoryDTO'
    OptionDTO:
      type: object
      properties:
        id:
          type: integer
          format: int32
        value:
          type: string
        options:
          type: array
          items:
            type: string
