openapi: 3.2.0
info:
  title: Kickstart Account Controller API
  description: API documentation for Kickstart services
  contact:
    name: Your Team
    email: support@example.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1.0'
servers:
- url: https://platform.digitalremedy.com
  description: Generated server url
tags:
- name: account-controller
paths:
  /api/accounts/{id}:
    put:
      tags:
      - account-controller
      operationId: update_10
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseAccount'
  /api/accounts/{accountId}/provisionDefaultAccountData:
    put:
      tags:
      - account-controller
      operationId: provisionDefaultAccountData
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
  /api/accounts/{accountId}/mapUsers:
    put:
      tags:
      - account-controller
      operationId: mapUsers_1
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UserAccount'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
  /api/accounts/{accountId}/mapUsersAndDropdowns:
    put:
      tags:
      - account-controller
      operationId: mapUsersAndDropdowns
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DropdownUserMaster'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
  /api/accounts/refresh_wl_files/{id}:
    put:
      tags:
      - account-controller
      operationId: refreshWhitelabelFiles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseAccount'
  /api/accounts:
    get:
      tags:
      - account-controller
      operationId: getAll_4
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListAccount'
    post:
      tags:
      - account-controller
      operationId: create_13
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseAccount'
  /api/accounts/{accountId}:
    get:
      tags:
      - account-controller
      operationId: getAccount
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: adreadyPlus
        in: query
        required: true
        schema:
          type: boolean
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseAccount'
  /api/accounts/{accountId}/dropdowns/{type}:
    get:
      tags:
      - account-controller
      operationId: getUserbyAccountAndType
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: type
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListLong'
  /api/accounts/{accountId}/dropdownUsers:
    get:
      tags:
      - account-controller
      operationId: getDropdownUserbyAccount
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DropdownUserMaster'
  /api/accounts/user/{userId}:
    get:
      tags:
      - account-controller
      operationId: getAllAccountsByUserId
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListAccount'
  /api/accounts/prefixExist:
    get:
      tags:
      - account-controller
      operationId: isPrefixExist
      parameters:
      - name: prefix
        in: query
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: boolean
  /api/accounts/nameExist:
    get:
      tags:
      - account-controller
      operationId: isNameExist
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: boolean
  /api/accounts/managed/{userId}:
    get:
      tags:
      - account-controller
      operationId: getAllManagedAccountsByUserId
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListAccount'
  /api/accounts/abbreviationExist:
    get:
      tags:
      - account-controller
      operationId: isAbbreviationExist
      parameters:
      - name: abbreviation
        in: query
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: boolean
  /api/accounts/{accountId}/removeUser:
    delete:
      tags:
      - account-controller
      operationId: removeUser
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAccount'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
  /api/accounts/{accountId}/dropdown/{id}:
    delete:
      tags:
      - account-controller
      operationId: removeUserFromDropdown
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
components:
  schemas:
    Advertiser:
      type: object
      properties:
        about:
          type: string
        accountId:
          type: integer
          format: int32
        accountSetup: {}
        advisrAdvertiserId:
          type: integer
          format: int32
        ahAdvertiserId:
          type: integer
          format: int32
        annualBudget:
          type: string
        companySize:
          type: string
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        customReportsEnabled:
          type: boolean
        dashboardAccess:
          type: boolean
        dashboardUserEmail:
          type: string
        dashboardUserName:
          type: string
        deletedAt:
          type: string
          format: date-time
        domainName:
          type: string
        dsp:
          type: string
        dspMappings:
          type: object
          additionalProperties:
            type: string
        features:
          type: array
          items:
            type: string
        flip:
          type: boolean
        hideCostMetrics:
          type: boolean
        id:
          type: integer
          format: int32
        industry:
          type: string
        isSelfServe:
          type: boolean
        logoFile:
          $ref: '#/components/schemas/FileData'
        name:
          type: string
        organizationId:
          type: integer
          format: int32
        pioId:
          type: integer
          format: int32
        pixelSetup: {}
        templateId:
          type: integer
          format: int32
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        vertical:
          type: string
        website:
          type: string
        xandrAdvertiserId:
          type: integer
          format: int32
    Account:
      type: object
      properties:
        abbreviation:
          type: string
        aboutAgency:
          type: string
        active:
          type: boolean
        advertisers:
          type: array
          items:
            $ref: '#/components/schemas/Advertiser'
          uniqueItems: true
        advisrGroupId:
          type: integer
          format: int32
        ahAgencyUuid:
          type: string
        aiName:
          type: string
        countryCode:
          type: string
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        currency:
          type: string
        dashboardUrls:
          type: array
          items:
            $ref: '#/components/schemas/DashboardUrl'
          uniqueItems: true
        deletedAt:
          type: string
          format: date-time
        flags:
          type: array
          items:
            type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        organization:
          $ref: '#/components/schemas/Organization'
        organizationId:
          type: integer
          format: int32
        parentId:
          type: integer
          format: int32
        pioId:
          type: integer
          format: int32
        plusAccountId:
          type: integer
          format: int32
        prefix:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
    Organization:
      type: object
      properties:
        appConsoleLogoFile:
          $ref: '#/components/schemas/FileData'
        appConsoleSquareLogoFile:
          $ref: '#/components/schemas/FileData'
        emailBranding:
          type: boolean
        favIconLogoFile:
          $ref: '#/components/schemas/FileData'
        id:
          type: integer
          format: int32
        loginEnabled:
          type: boolean
        logoFile:
          $ref: '#/components/schemas/FileData'
        name:
          type: string
        orgType:
          type: string
        subdomainConfig: {}
        subdomainEnabled:
          type: boolean
        theme: {}
        whitelabelEnabled:
          type: boolean
    ApiResponseListLong:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            type: integer
            format: int64
    UserAccount:
      type: object
      properties:
        accountId:
          type: integer
          format: int32
        userId:
          type: integer
          format: int64
    DashboardUrl:
      type: object
      properties:
        accountId:
          type: integer
          format: int32
        id:
          type: integer
          format: int32
        link:
          type: string
        title:
          type: string
    FileData:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        deletedAt:
          type: string
          format: date-time
        id:
          type: integer
          format: int32
        name:
          type: string
        path:
          type: string
        size:
          type: integer
          format: int32
        type:
          type: string
          enum:
          - UPLOAD
          - LINK
          - ARTICLE_UPLOAD
          - ARTICLE_LINK
          - COMPANION_ASSET_UPLOAD
          - COMPANION_ASSET_LINK
          - CLOSED_CAPTIONING_UPLOAD
          - ADVERTISER_LOGO
          - IO_ATTACHMENT
          - NOTES
          - CREATIVE
          - ARTICLE_CREATIVE
          - COMPANION_ASSET
          - CLOSED_CAPTIONING
          - TRACKING_PIXEL
          - ORGANIZATION_LOGO
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
    ApiResponseAccount:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          $ref: '#/components/schemas/Account'
    DropdownUserMaster:
      type: object
      properties:
        accountId:
          type: integer
          format: int32
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        deletedAt:
          type: string
          format: date-time
        id:
          type: integer
          format: int32
        type:
          type: string
          enum:
          - ASSIGNEE
          - OWNER
          - CONTACT_USER
          - CUSTOM_USER
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        userId:
          type: integer
          format: int64
    ApiResponseListAccount:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/Account'
