openapi: 3.2.0
info:
  title: Kickstart Agency Controller API
  description: API documentation for Kickstart services
  contact:
    name: Your Team
    email: support@example.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1.0'
servers:
- url: https://platform.digitalremedy.com
  description: Generated server url
tags:
- name: agency-controller
paths:
  /api/agencies/{agencyId}/mapAdvertiser:
    put:
      tags:
      - agency-controller
      operationId: mapAdvertiser
      parameters:
      - name: agencyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Advertiser'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Agency'
  /api/agencies:
    get:
      tags:
      - agency-controller
      operationId: getAll_3
      parameters:
      - name: accountId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListAgency'
    post:
      tags:
      - agency-controller
      operationId: create_11
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Agency'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseAgency'
  /api/agencies/{agencyId}:
    get:
      tags:
      - agency-controller
      operationId: getAgency
      parameters:
      - name: agencyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseAgency'
components:
  schemas:
    ApiResponseAgency:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          $ref: '#/components/schemas/Agency'
    Advertiser:
      type: object
      properties:
        about:
          type: string
        accountId:
          type: integer
          format: int32
        accountSetup: {}
        advisrAdvertiserId:
          type: integer
          format: int32
        ahAdvertiserId:
          type: integer
          format: int32
        annualBudget:
          type: string
        companySize:
          type: string
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        customReportsEnabled:
          type: boolean
        dashboardAccess:
          type: boolean
        dashboardUserEmail:
          type: string
        dashboardUserName:
          type: string
        deletedAt:
          type: string
          format: date-time
        domainName:
          type: string
        dsp:
          type: string
        dspMappings:
          type: object
          additionalProperties:
            type: string
        features:
          type: array
          items:
            type: string
        flip:
          type: boolean
        hideCostMetrics:
          type: boolean
        id:
          type: integer
          format: int32
        industry:
          type: string
        isSelfServe:
          type: boolean
        logoFile:
          $ref: '#/components/schemas/FileData'
        name:
          type: string
        organizationId:
          type: integer
          format: int32
        pioId:
          type: integer
          format: int32
        pixelSetup: {}
        templateId:
          type: integer
          format: int32
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        vertical:
          type: string
        website:
          type: string
        xandrAdvertiserId:
          type: integer
          format: int32
    ApiResponseListAgency:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/Agency'
    Agency:
      type: object
      properties:
        accountId:
          type: integer
          format: int32
        advertisers:
          type: array
          items:
            $ref: '#/components/schemas/Advertiser'
          uniqueItems: true
        deletedAt:
          type: string
          format: date-time
        flags:
          type: array
          items:
            type: string
        id:
          type: integer
          format: int32
        name:
          type: string
    FileData:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        deletedAt:
          type: string
          format: date-time
        id:
          type: integer
          format: int32
        name:
          type: string
        path:
          type: string
        size:
          type: integer
          format: int32
        type:
          type: string
          enum:
          - UPLOAD
          - LINK
          - ARTICLE_UPLOAD
          - ARTICLE_LINK
          - COMPANION_ASSET_UPLOAD
          - COMPANION_ASSET_LINK
          - CLOSED_CAPTIONING_UPLOAD
          - ADVERTISER_LOGO
          - IO_ATTACHMENT
          - NOTES
          - CREATIVE
          - ARTICLE_CREATIVE
          - COMPANION_ASSET
          - CLOSED_CAPTIONING
          - TRACKING_PIXEL
          - ORGANIZATION_LOGO
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
