{"openapi":"3.1.0","info":{"title":"Kickstart API","description":"API documentation for Kickstart services","contact":{"name":"Your Team","email":"support@example.com"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0"},"servers":[{"url":"https://platform.digitalremedy.com","description":"Generated server url"}],"tags":[{"name":"Flip Dashboard","description":"This contains API endpoints related to Flip Dashboard"},{"name":"App Console: Solution Management","description":"This contains API endpoints related to solution management"},{"name":"App Console: Brand","description":"This contains API endpoints related to Performance Brand solution in App Console"},{"name":"App Console: Search","description":"This contains API endpoints related to Google Search solution in App Console"},{"name":"Flip Dashboard","description":"APIs related to Flip Dashboard"},{"name":"App Console","description":"This contains API endpoints related to App Console"},{"name":"App Console","description":"App Console"},{"name":"App Console: Social","description":"This contains API endpoints related to Meta solution in App Console"}],"paths":{"/api/whitelabel_domains/{orgId}":{"get":{"tags":["whitelabel-domain-controller"],"operationId":"get","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWhitelabelDomain"}}}}}},"put":{"tags":["whitelabel-domain-controller"],"operationId":"update","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"acctId","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WhitelabelDomain"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWhitelabelDomain"}}}}}},"delete":{"tags":["whitelabel-domain-controller"],"operationId":"delete","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"acctId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWhitelabelDomain"}}}}}}},"/api/users/{userId}/mapAdvertisers":{"put":{"tags":["user-controller"],"operationId":"mapAdvertisers","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserAdvertiser"}}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK"}}}},"/api/users/{userId}/mapAccounts":{"put":{"tags":["user-controller"],"operationId":"mapAccounts","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserAccount"}}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/users/{id}":{"get":{"tags":["user-controller"],"operationId":"get_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserDTO"}}}}}},"put":{"tags":["user-controller"],"operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserDTO"}}}}}},"delete":{"tags":["user-controller"],"operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/segments/{id}":{"get":{"tags":["segment-controller"],"operationId":"getSegmentById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["segment-controller"],"operationId":"updateSegment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Segment"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Segment"}}}}}},"delete":{"tags":["segment-controller"],"operationId":"deleteSegment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK"}}}},"/api/rateCards/{productTypeId}":{"put":{"tags":["rate-cards-controller"],"operationId":"updateRateCard","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateCardItem"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRateCardItemDTO"}}}}}}},"/api/publisherDeal/{id}":{"get":{"tags":["publisher-deal-mapping-controller"],"operationId":"get_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublisherDealMapping"}}}}}},"put":{"tags":["publisher-deal-mapping-controller"],"operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublisherDealMapping"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublisherDealMapping"}}}}}},"delete":{"tags":["publisher-deal-mapping-controller"],"operationId":"delete_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK"}}}},"/api/plans/{planId}":{"get":{"tags":["plans-controller"],"operationId":"get_3","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"includePacing","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"advertiser","in":"query","required":false,"schema":{"type":"string"}},{"name":"client","in":"query","required":false,"schema":{"type":"string"}},{"name":"xandrId","in":"query","required":false,"schema":{"type":"string"}},{"name":"pixel","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlan"}}}}}},"put":{"tags":["plans-controller"],"operationId":"updatePlan","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Plan"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlan"}}}}}},"delete":{"tags":["plans-controller"],"operationId":"delete_3","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/plans/{planId}/updateFlag":{"put":{"tags":["plans-controller"],"operationId":"updateFlag","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Plan"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/api/plans/{planId}/changeTargetingLevel":{"put":{"tags":["plans-controller"],"operationId":"changeTargetingLevel","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalcReq"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlan"}}}}}}},"/api/plans/{planId}/changeProductTypeAllocation":{"put":{"tags":["plans-controller"],"operationId":"changeProductTypeAllocation","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalcReq"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlan"}}}}}}},"/api/plans/{planId}/changeProductCategoryAllocation":{"put":{"tags":["plans-controller"],"operationId":"changeProductCategoryAllocation","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalcReq"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlan"}}}}}}},"/api/plans/{planId}/changeDisplayDeviceAllocation":{"put":{"tags":["plans-controller"],"operationId":"changeDisplayDeviceAllocation","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalcReq"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlan"}}}}}}},"/api/organizations/{organizationId}":{"get":{"tags":["organization-controller"],"operationId":"getOrganization","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOrganization"}}}}}},"put":{"tags":["organization-controller"],"operationId":"update_3","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Organization"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOrganization"}}}}}}},"/api/mediaTypes/{id}":{"get":{"tags":["publisher-media-type-mapping-controller"],"operationId":"get_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublisherMediaTypeMapping"}}}}}},"put":{"tags":["publisher-media-type-mapping-controller"],"operationId":"update_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublisherMediaTypeMapping"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublisherMediaTypeMapping"}}}}}},"delete":{"tags":["publisher-media-type-mapping-controller"],"operationId":"delete_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK"}}}},"/api/mediaPublisher/{id}":{"get":{"tags":["media-publisher-master-controller"],"operationId":"get_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MediaPublisherMaster"}}}}}},"put":{"tags":["media-publisher-master-controller"],"operationId":"update_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MediaPublisherMaster"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MediaPublisherMaster"}}}}}},"delete":{"tags":["media-publisher-master-controller"],"operationId":"delete_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK"}}}},"/api/ios/{insertionOrderId}/lineItems/{lineItemId}":{"put":{"tags":["line-items-controller"],"operationId":"update_6","parameters":[{"name":"insertionOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LineItem"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLineItem"}}}}}},"delete":{"tags":["line-items-controller"],"operationId":"delete_6","parameters":[{"name":"insertionOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"lineItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLineItem"}}}}}}},"/api/ios/{insertionOrderId}/lineItems/{lineItemId}/updateFlag":{"put":{"tags":["line-items-controller"],"operationId":"updateFlag_1","parameters":[{"name":"insertionOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"lineItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LineItem"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/api/ios/{insertionOrderId}/lineItems/{lineItemId}/pushToXandr":{"put":{"tags":["line-items-controller"],"operationId":"pushToXandr","parameters":[{"name":"insertionOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"lineItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLineItem"}}}}}}},"/api/comments/{id}":{"get":{"tags":["comment-controller"],"operationId":"get_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Comment"}}}}}},"put":{"tags":["comment-controller"],"operationId":"update_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Comment"}}}}}},"delete":{"tags":["comment-controller"],"operationId":"delete_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK"}}}},"/api/budgetGroup/{id}":{"put":{"tags":["budget-group-controller"],"operationId":"update_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BudgetGroup"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBudgetGroup"}}}}}}},"/api/agencies/{agencyId}/mapAdvertiser":{"put":{"tags":["agency-controller"],"operationId":"mapAdvertiser","parameters":[{"name":"agencyId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Advertiser"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Agency"}}}}}}},"/api/advertisers/{advertiserId}":{"get":{"tags":["advertiser-controller"],"operationId":"getAdvertiser","parameters":[{"name":"advertiserId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdvertiser"}}}}}},"put":{"tags":["advertiser-controller"],"operationId":"update_9","parameters":[{"name":"advertiserId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Advertiser"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdvertiser"}}}}}}},"/api/advertisers/{advertiserId}/mapUsers":{"put":{"tags":["advertiser-controller"],"operationId":"mapUsers","parameters":[{"name":"advertiserId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserAdvertiser"}}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK"}}}},"/api/advertisers/{advertiserId}/flipPixels/{pixelId}":{"get":{"tags":["Flip Dashboard"],"summary":"Get details of a FLIP pixel for an advertiser","description":"Returns metadata for a given FLIP pixel and advertiser","operationId":"fetchFlipPixelDetails","parameters":[{"name":"advertiserId","in":"path","description":"The advertiser ID","required":true,"schema":{"type":"integer"}},{"name":"pixelId","in":"path","description":"The FLIP pixel ID","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pixel details successfully retrieved","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseFlipPixel"}}}}}},"put":{"tags":["Flip Dashboard"],"summary":"Update an existing FLIP pixel for an advertiser","description":"Updates a FLIP pixel's properties using the provided data","operationId":"updateFlipPixel","parameters":[{"name":"advertiserId","in":"path","description":"The advertiser ID","required":true,"schema":{"type":"integer"}},{"name":"pixelId","in":"path","description":"The pixel ID","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The updated FlipPixel object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FlipPixel"}}},"required":true},"responses":{"400":{"description":"Invalid input"},"200":{"description":"Pixel updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseFlipPixel"}}}},"404":{"description":"Pixel not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseFlipPixel"}}}}}}},"/api/advertisers/{advertiserId}/brand_lift/campaigns/{blCampaignId}":{"put":{"tags":["Flip Dashboard"],"summary":"Update campaign","operationId":"updateCampaign","parameters":[{"name":"advertiserId","in":"path","description":"the advertiser id","required":true},{"name":"blCampaignId","in":"path","description":"Campaign Id","required":true}],"requestBody":{"description":"Campaign to be created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExistingLucidCampaign"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{}}}}},"delete":{"tags":["Flip Dashboard"],"summary":"Delete campaign","operationId":"deleteCampaign","parameters":[{"name":"advertiserId","in":"path","description":"the advertiser id","required":true},{"name":"blCampaignId","in":"path","description":"Campaign Id","required":true}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{}}}}}},"/api/advertisers/{advertiserId}/brand_lift/campaigns/{blCampaignId}/launch":{"put":{"tags":["Flip Dashboard"],"summary":"Launch Campaign","operationId":"launchCampaign","parameters":[{"name":"advertiserId","in":"path","description":"the advertiser id","required":true},{"name":"blCampaignId","in":"path","description":"Campaign Id","required":true}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{}}}}}},"/api/advertisers/{advertiserId}/brand_lift/campaign/{blCampaignId}/spc_groupings_and_mappings":{"put":{"tags":["Flip Dashboard"],"summary":"Update SPC Groupings and Mappings","operationId":"updateSPCGroupings","parameters":[{"name":"advertiserId","in":"path","description":"the advertiser id","required":true,"schema":{"type":"integer"}},{"name":"blCampaignId","in":"path","description":"Brandlift campaign id","required":true,"schema":{"type":"string"}},{"name":"client","in":"query","description":"the account/client name","required":true,"schema":{"type":"string"}},{"name":"advertiser","in":"query","description":"the advertiser name","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"SPC Grouping types: placement or publisher","required":true,"schema":{"type":"string","enum":["placement","publisher"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{}}}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLucidSPCGroupingsWrapper"}}}}}}},"/api/accounts/{id}":{"put":{"tags":["account-controller"],"operationId":"update_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAccount"}}}}}}},"/api/accounts/{accountId}/provisionDefaultAccountData":{"put":{"tags":["account-controller"],"operationId":"provisionDefaultAccountData","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK"}}}},"/api/accounts/{accountId}/mapUsers":{"put":{"tags":["account-controller"],"operationId":"mapUsers_1","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserAccount"}}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK"}}}},"/api/accounts/{accountId}/mapUsersAndDropdowns":{"put":{"tags":["account-controller"],"operationId":"mapUsersAndDropdowns","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DropdownUserMaster"}}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK"}}}},"/api/accounts/refresh_wl_files/{id}":{"put":{"tags":["account-controller"],"operationId":"refreshWhitelabelFiles","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAccount"}}}}}}},"/api/ac/solutions/{solutionId}":{"get":{"tags":["App Console: Solution Management"],"operationId":"getSolution","parameters":[{"name":"solutionId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSolution"}}}}}},"put":{"tags":["App Console: Solution Management"],"operationId":"update_11","parameters":[{"name":"solutionId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Solution"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSolution"}}}}}},"delete":{"tags":["App Console: Solution Management"],"operationId":"delete_8","parameters":[{"name":"solutionId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/ac/advertisers/{advertiserId}/reportTemplate/{reportTemplateId}":{"get":{"tags":["App Console: Report Template Management"],"operationId":"get_7","parameters":[{"name":"reportTemplateId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"advertiserId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReportTemplate"}}}}}},"put":{"tags":["App Console: Report Template Management"],"operationId":"update_12","parameters":[{"name":"reportTemplateId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"advertiserId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportTemplate"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReportTemplate"}}}}}},"delete":{"tags":["App Console: Report Template Management"],"operationId":"delete_9","parameters":[{"name":"reportTemplateId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"advertiserId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReportTemplate"}}}}}}},"/api/ac/advertiserSolution/id/{id}":{"get":{"tags":["App Console: Solution Management"],"operationId":"getById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdvertiserSolution"}}}}}},"put":{"tags":["App Console: Solution Management"],"operationId":"update_13","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdvertiserSolution"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdvertiserSolution"}}}}}},"delete":{"tags":["App Console: Solution Management"],"operationId":"delete_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/whitelabel_domains":{"get":{"tags":["whitelabel-domain-controller"],"operationId":"getWhitelabelDomains","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListWhitelabelDomain"}}}}}},"post":{"tags":["whitelabel-domain-controller"],"operationId":"create","parameters":[{"name":"acctId","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WhitelabelDomain"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWhitelabelDomain"}}}}}}},"/api/users":{"get":{"tags":["user-controller"],"operationId":"getAll","parameters":[{"name":"accountId","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListUserDTO"}}}}}},"post":{"tags":["user-controller"],"operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserDTO"}}}}}}},"/api/users/{userId}/password_reset/url":{"post":{"tags":["user-controller"],"operationId":"createPasswordResetUrl","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/users/{userId}/invite":{"post":{"tags":["user-controller"],"operationId":"inviteUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/users/{userId}/invite/url":{"post":{"tags":["user-controller"],"operationId":"inviteUserUrl","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/users/{userId}/globalRoles/{roleId}":{"post":{"tags":["user-controller"],"operationId":"updateUserRoles","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"roleId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"userRole","in":"query","required":true,"schema":{"$ref":"#/components/schemas/UserRole"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserRole"}}}}}},"delete":{"tags":["user-controller"],"operationId":"deleteUserRoles","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"roleId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"userRole","in":"query","required":true,"schema":{"$ref":"#/components/schemas/UserRole"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK"}}}},"/api/users/{userId}/activateSolution":{"post":{"tags":["user-controller"],"operationId":"activateSolution","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"accountName","in":"query","required":true,"schema":{"type":"string"}},{"name":"advertiserName","in":"query","required":true,"schema":{"type":"string"}},{"name":"solutionName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/sendVerificationEmail":{"post":{"tags":["sign-up-controller"],"operationId":"sendVerificationEmail","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"app","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/segments":{"get":{"tags":["segment-controller"],"operationId":"getAllSegments","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Segment"}}}}}}},"post":{"tags":["segment-controller"],"operationId":"createSegment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Segment"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Segment"}}}}}}},"/api/run/updateLineItemStatus":{"post":{"tags":["api-controller"],"operationId":"updateLineItemStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/run/updateLineItemStatusLive":{"post":{"tags":["api-controller"],"operationId":"updateLineItemStatusLive","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/run/sendDailySummaryReport":{"post":{"tags":["api-controller"],"operationId":"runReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/run/generateReports":{"post":{"tags":["api-controller"],"operationId":"generateReports","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/run/flip_pixel_activity_scheduler":{"post":{"tags":["api-controller"],"operationId":"runFlipPixelActivityController","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/run/exportScheduleJob":{"post":{"tags":["api-controller"],"operationId":"runExportScheduleJob","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/reportGenerationLog/updateStatus":{"post":{"tags":["api-controller"],"operationId":"updateReportGenerationLogStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportLogStatusUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/rateCards":{"post":{"tags":["rate-cards-controller"],"operationId":"createRateCardItem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateCardItem"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRateCardItemDTO"}}}}}}},"/api/publisherDeal":{"get":{"tags":["publisher-deal-mapping-controller"],"operationId":"list","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PublisherDealMapping"}}}}}}},"post":{"tags":["publisher-deal-mapping-controller"],"operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublisherDealMapping"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublisherDealMapping"}}}}}}},"/api/plans":{"get":{"tags":["plans-controller"],"operationId":"getAll_1","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sortKey","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortOrder","in":"query","required":false,"schema":{"type":"string"}},{"name":"crFilter","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"flip","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"includePacing","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"advertiser","in":"query","required":false,"schema":{"type":"string"}},{"name":"client","in":"query","required":false,"schema":{"type":"string"}},{"name":"xandrId","in":"query","required":false,"schema":{"type":"string"}},{"name":"pixel","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponsePlan"}}}}}},"post":{"tags":["plans-controller"],"operationId":"create_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Plan"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlan"}}}}}}},"/api/plans/{planId}/workflowEmailNotification":{"post":{"tags":["plans-controller"],"operationId":"workflowEmailNotification","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailNotification"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlan"}}}}}}},"/api/plans/{planId}/updateStatusEmailNotification":{"post":{"tags":["plans-controller"],"operationId":"updateStatusEmailNotification","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailNotification"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlan"}}}}}}},"/api/plans/{planId}/sendSubmitOrderNotification":{"post":{"tags":["plans-controller"],"operationId":"sendSubmitOrderNotification","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitOrder"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlan"}}}}}}},"/api/plans/{planId}/sendEmailNotification":{"post":{"tags":["plans-controller"],"operationId":"emailNotification","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailNotification"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlan"}}}}}}},"/api/plans/{planId}/export":{"post":{"tags":["plans-controller"],"operationId":"exportOrder","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExportSchedule"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/plans/{planId}/createOrder":{"post":{"tags":["plans-controller"],"operationId":"createOrder","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlan"}}}}},"deprecated":true}},"/api/plans/{planId}/changeAppliedEmailNotification":{"post":{"tags":["plans-controller"],"operationId":"changeAppliedEmailNotification","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailNotification"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlan"}}}}}}},"/api/pixels":{"get":{"tags":["pixel-controller"],"operationId":"getAll_2","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListPixel"}}}}}},"post":{"tags":["pixel-controller"],"operationId":"create_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixelDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePixel"}}}}}}},"/api/organizations":{"get":{"tags":["organization-controller"],"operationId":"getOrganizations","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListOrganization"}}}}}},"post":{"tags":["organization-controller"],"operationId":"create_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Organization"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOrganization"}}}}}}},"/api/mediaTypes":{"get":{"tags":["publisher-media-type-mapping-controller"],"operationId":"list_1","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PublisherMediaTypeMapping"}}}}}}},"post":{"tags":["publisher-media-type-mapping-controller"],"operationId":"create_6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublisherMediaTypeMapping"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublisherMediaTypeMapping"}}}}}}},"/api/mediaPublisher":{"get":{"tags":["media-publisher-master-controller"],"operationId":"list_2","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MediaPublisherMaster"}}}}}}},"post":{"tags":["media-publisher-master-controller"],"operationId":"create_7","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MediaPublisherMaster"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MediaPublisherMaster"}}}}}}},"/api/ios/{lineItemId}/sendEmailNotification":{"post":{"tags":["line-items-controller"],"operationId":"emailNotification_1","parameters":[{"name":"lineItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailNotification"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLineItem"}}}}}}},"/api/ios/{lineItemId}/customEmailNotification":{"post":{"tags":["line-items-controller"],"operationId":"customEmailNotification","parameters":[{"name":"lineItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailNotification"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLineItem"}}}}}}},"/api/ios/{insertionOrderId}/{lineItemId}/sendResubmitEmailNotification":{"post":{"tags":["line-items-controller"],"operationId":"sendResubmitEmailNotification","parameters":[{"name":"insertionOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"lineItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLineItem"}}}}}}},"/api/ios/{insertionOrderId}/lineItems":{"get":{"tags":["line-items-controller"],"operationId":"index","parameters":[{"name":"insertionOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sortKey","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortOrder","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseLineItem"}}}}}},"post":{"tags":["line-items-controller"],"operationId":"create_8","parameters":[{"name":"insertionOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LineItem"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLineItem"}}}}}}},"/api/ios/{insertionOrderId}/lineItems/{lineItemId}/calculatePriceSpend":{"post":{"tags":["line-items-controller"],"operationId":"calculatePriceSpend","parameters":[{"name":"insertionOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LineItem"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLineItem"}}}}}}},"/api/ios/{insertionOrderId}/lineItems/{lineItemId}/calculateCpm":{"post":{"tags":["line-items-controller"],"operationId":"calculateCpm","parameters":[{"name":"insertionOrderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LineItem"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLineItem"}}}}}}},"/api/flipPixelsFile/dumpToBucket":{"post":{"tags":["Flip PixelFile"],"operationId":"dumpToBucket","parameters":[{"name":"pretty","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filePath","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/flipPixelsFile/dumpToBucketCronAuth":{"post":{"tags":["Flip PixelFile"],"operationId":"dumpToBucket_1","parameters":[{"name":"pretty","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filePath","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/files/{orderId}/lineItems/{lineItemId}":{"post":{"tags":["file-controller"],"operationId":"uploadFile","parameters":[{"name":"type","in":"query","required":true,"schema":{"type":"string"}},{"name":"orderId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"lineItemId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseFileData"}}}}}}},"/api/files/publisher/{publisherId}":{"post":{"tags":["file-controller"],"operationId":"savePublisherLogo","parameters":[{"name":"publisherId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseFileData"}}}}}}},"/api/files/organizations/{organizationId}":{"post":{"tags":["file-controller"],"operationId":"saveLogo","parameters":[{"name":"type","in":"query","required":true,"schema":{"type":"string"}},{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseFileData"}}}}}}},"/api/comments":{"get":{"tags":["comment-controller"],"operationId":"list_3","parameters":[{"name":"itemId","in":"query","required":true,"schema":{"type":"string"}},{"name":"itemType","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Comment"}}}}}}},"post":{"tags":["comment-controller"],"operationId":"create_9","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Comment"}}}}}}},"/api/comments/notification":{"post":{"tags":["comment-controller"],"operationId":"notification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentNotification"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/budgetGroup/create":{"post":{"tags":["budget-group-controller"],"operationId":"create_10","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BudgetGroup"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBudgetGroup"}}}}}}},"/api/auth/validate_token":{"post":{"tags":["auth-controller"],"operationId":"validateResetPasswordToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateResetPasswordTokenRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/auth/reset_password":{"post":{"tags":["auth-controller"],"operationId":"ResetPassword","parameters":[{"name":"app","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePasswordRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/auth/plus_login":{"post":{"tags":["auth-controller"],"operationId":"authenticatePlusUser","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/auth/login":{"post":{"tags":["auth-controller"],"operationId":"authenticateUser","parameters":[{"name":"app","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/auth/loginC360User":{"post":{"tags":["auth-controller"],"operationId":"loginAhUser","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/auth/forgot_password":{"post":{"tags":["auth-controller"],"operationId":"createPassword","parameters":[{"name":"app","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForgotPasswordRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/auth/create_password":{"post":{"tags":["auth-controller"],"operationId":"createPassword_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePasswordRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/agencies":{"get":{"tags":["agency-controller"],"operationId":"getAll_3","parameters":[{"name":"accountId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListAgency"}}}}}},"post":{"tags":["agency-controller"],"operationId":"create_11","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Agency"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAgency"}}}}}}},"/api/advertisers":{"get":{"tags":["advertiser-controller"],"operationId":"getByAccount","parameters":[{"name":"accountId","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"userId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListAdvertiser"}}}}}},"post":{"tags":["advertiser-controller"],"operationId":"create_12","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Advertiser"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdvertiser"}}}}}}},"/api/advertisers/{advertiserId}/reports/rollup":{"post":{"tags":["Flip Dashboard"],"summary":"Get rollup report with only last touches for each conversion","operationId":"getLastTouches","parameters":[{"name":"advertiserId","in":"path","description":"the advertiser id","required":true,"schema":{"type":"integer"}},{"name":"kind","in":"query","description":"the kind of data to be returned, either all_touch or last_touch","required":true,"schema":{"type":"string","enum":["all_touch","last_touch"]}},{"name":"includeChannel","in":"query","description":"true : Include channel false : Dont include channel","required":true,"schema":{"type":"boolean"}},{"name":"client","in":"query","description":"the account/client name","required":true,"schema":{"type":"string"}},{"name":"advertiser","in":"query","description":"the advertiser name","required":true,"schema":{"type":"string"}},{"name":"xandrId","in":"query","description":"the advertiser's XandrId","required":true,"schema":{"type":"string"}},{"name":"pixel","in":"query","description":"the FLIP universal pixel id","required":true,"schema":{"type":"string"}},{"name":"conversionWindow","in":"query","description":"the conversion window in hours","schema":{"type":"integer","default":0}},{"name":"mediaType","in":"query","description":"the media types to filter (e.g. Display Retargeting, OTT, etc.)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"creative","in":"query","description":"the comma-separated creative ids to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"publisher","in":"query","description":"the comma-separated publisher names to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"audience","in":"query","description":"the comma-separated audience names to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"ioIds","in":"query","description":"the comma-separated IO ids to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"adGroups","in":"query","description":"the comma-separated Adready Id & start date (separated by |) combination to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"event","in":"query","description":"the event","required":true,"schema":{"type":"string"}},{"name":"category","in":"query","description":"the pixel category","required":true,"schema":{"type":"string"}},{"name":"subCategory","in":"query","description":"the comma-separated pixel sub-categories","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"startDate","in":"query","description":"the start date","required":true,"schema":{"type":"string","example":"2022-01-08"}},{"name":"endDate","in":"query","description":"the end date","required":true,"schema":{"type":"string","example":"2022-01-14"}},{"name":"offset","in":"query","description":"the number of records to skip","schema":{"type":"integer","default":0}},{"name":"limit","in":"query","description":"the max number of records to return","schema":{"type":"integer","default":100}},{"name":"onceNow","in":"query","description":"Run this report once?","schema":{"type":"boolean","default":true}},{"name":"emailIt","in":"query","description":"Email this report?","schema":{"type":"boolean","default":false}},{"name":"emailAddr","in":"query","description":"Email address?","schema":{"type":"string"}},{"name":"Accept","in":"header","description":"'application/json' - provides json response. 'text/csv' or 'application/csv' provides csv file.","schema":{"type":"string","default":"application/json"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListObject"}}}}}}},"/api/advertisers/{advertiserId}/reports/rollup/touches":{"post":{"tags":["Flip Dashboard"],"summary":"Get all touches (except last touch) for a conversion","operationId":"getAllTouchesForConversion","parameters":[{"name":"advertiserId","in":"path","description":"the advertiser id","required":true,"schema":{"type":"integer"}},{"name":"client","in":"query","description":"the account/client name","required":true,"schema":{"type":"string"}},{"name":"advertiser","in":"query","description":"the advertiser name","required":true,"schema":{"type":"string"}},{"name":"xandrId","in":"query","description":"the advertiser's XandrId","required":true,"schema":{"type":"string"}},{"name":"pixel","in":"query","description":"the FLIP universal pixel id","required":true,"schema":{"type":"string"}},{"name":"conversionWindow","in":"query","description":"the conversion window in hours","schema":{"type":"integer","default":0}},{"name":"mediaType","in":"query","description":"the media types to filter (e.g. Display Retargeting, OTT, etc.)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"creative","in":"query","description":"the comma-separated creative ids to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"publisher","in":"query","description":"the comma-separated publisher names to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"audience","in":"query","description":"the comma-separated audience names to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"ioIds","in":"query","description":"the comma-separated IO ids to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"adGroups","in":"query","description":"the comma-separated Adready Id & start date (separated by |) combination to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"event","in":"query","description":"the event","required":true,"schema":{"type":"string"}},{"name":"category","in":"query","description":"the pixel category","required":true,"schema":{"type":"string"}},{"name":"subCategory","in":"query","description":"the comma-separated pixel sub-categories","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"startDate","in":"query","description":"the start date","required":true,"schema":{"type":"string","example":"2022-01-08"}},{"name":"endDate","in":"query","description":"the end date","required":true,"schema":{"type":"string","example":"2022-01-14"}},{"name":"ip","in":"query","description":"the IP address","required":true,"schema":{"type":"string"}},{"name":"ts","in":"query","description":"the pixel timestamp in micro seconds","required":true,"schema":{"type":"integer"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListConversionTouch"}}}}}}},"/api/advertisers/{advertiserId}/reports/performance":{"post":{"tags":["Flip Dashboard"],"summary":"Get performance report by creative/publisher/channel/daypart/audience/device/mediatype/state/dma/zip/overall","description":"Get performance report by creative/publisher/channel/daypart/audience/device/mediatype/state/dma/zip/overall","operationId":"getPerformanceReport","parameters":[{"name":"advertiserId","in":"path","description":"the advertiser id","required":true,"schema":{"type":"integer"}},{"name":"kind","in":"query","description":"the field by which data to be grouped, either creative/adgroup/publisher/channel/daypart/audience/device/mediatype/state/dma/zip/overall","schema":{"type":"string","enum":["creative","adgroup","publisher","channel","daypart","audience","device","mediatype","state","dma","zip","overall"]}},{"name":"client","in":"query","description":"the account/client name","required":true,"schema":{"type":"string"}},{"name":"advertiser","in":"query","description":"the advertiser name","required":true,"schema":{"type":"string"}},{"name":"xandrId","in":"query","description":"the advertiser's XandrId","required":true,"schema":{"type":"string"}},{"name":"pixel","in":"query","description":"the FLIP universal pixel id","required":true,"schema":{"type":"string"}},{"name":"showUniques","in":"query","description":"flag to decide whether to show only uniques or not","schema":{"type":"boolean","default":false}},{"name":"conversionWindow","in":"query","description":"the conversion window in hours","schema":{"type":"integer","default":0}},{"name":"mediaType","in":"query","description":"the media types to filter (e.g. Display Retargeting, OTT, etc.)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"creative","in":"query","description":"the comma-separated creative ids to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"publisher","in":"query","description":"the comma-separated publisher names to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"audience","in":"query","description":"the comma-separated audience names to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"ioIds","in":"query","description":"the comma-separated IO ids to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"adGroups","in":"query","description":"the comma-separated Adready Id & start date (separated by |) combination to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"attribution","in":"query","description":"the conversion attribution to be used, either full or partial","schema":{"type":"string","default":"full","enum":["full","partial"]}},{"name":"methodology","in":"query","description":"the methodology to be used, either first_touch/last_touch/linear/time_decay","schema":{"type":"string","default":"last_touch","enum":["first_touch","last_touch","linear","time_decay"]}},{"name":"event","in":"query","description":"the event","schema":{"type":"string"}},{"name":"category","in":"query","description":"the pixel category","required":true,"schema":{"type":"string"}},{"name":"subCategory","in":"query","description":"the comma-separated pixel sub-categories","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"startDate","in":"query","description":"the start date","required":true,"schema":{"type":"string","example":"2022-01-08"}},{"name":"endDate","in":"query","description":"the end date","required":true,"schema":{"type":"string","example":"2022-01-14"}},{"name":"fields","in":"query","description":"the comma-separated fields to return","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"offset","in":"query","description":"the number of records to skip","schema":{"type":"integer","default":0}},{"name":"limit","in":"query","description":"the max number of records to return","schema":{"type":"integer","default":100}},{"name":"onceNow","in":"query","description":"Run this report once?","schema":{"type":"boolean","default":true}},{"name":"emailIt","in":"query","description":"Email this report?","schema":{"type":"boolean","default":false}},{"name":"emailAddr","in":"query","description":"Email address?","schema":{"type":"string"}},{"name":"Accept","in":"header","description":"'application/json' - provides json response. 'text/csv' or 'application/csv' provides csv file.","schema":{"type":"string","default":"application/json"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListMetricsByField"}}}}}}},"/api/advertisers/{advertiserId}/reports/eventPerformance":{"post":{"tags":["Flip Dashboard"],"summary":"Get event-wise performance report by creative/publisher/channel/daypart/audience/device/mediatype/state/dma/zip/overall","description":"Get event-wise performance report by creative/publisher/channel/daypart/audience/device/mediatype/state/dma/zip/overall","operationId":"getEventPerformanceReport","parameters":[{"name":"advertiserId","in":"path","description":"the advertiser id","required":true,"schema":{"type":"integer"}},{"name":"kind","in":"query","description":"the field by which data to be grouped, either creative/adgroup/publisher/channel/daypart/audience/device/mediatype/state/dma/zip/overall","required":true,"schema":{"type":"string","enum":["creative","adgroup","publisher","channel","daypart","audience","device","mediatype","state","dma","zip","overall"]}},{"name":"client","in":"query","description":"the account/client name","required":true,"schema":{"type":"string"}},{"name":"advertiser","in":"query","description":"the advertiser name","required":true,"schema":{"type":"string"}},{"name":"xandrId","in":"query","description":"the advertiser's XandrId","required":true,"schema":{"type":"string"}},{"name":"pixel","in":"query","description":"the FLIP universal pixel id","required":true,"schema":{"type":"string"}},{"name":"showUniques","in":"query","description":"flag to decide whether to show only uniques or not","schema":{"type":"boolean","default":false}},{"name":"conversionWindow","in":"query","description":"the conversion window in hours","schema":{"type":"integer","default":0}},{"name":"mediaType","in":"query","description":"the media types to filter (e.g. Display Retargeting, OTT, etc.)","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"creative","in":"query","description":"the comma-separated creative ids to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"publisher","in":"query","description":"the comma-separated publisher names to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"audience","in":"query","description":"the comma-separated audience names to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"ioIds","in":"query","description":"the comma-separated IO ids to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"adGroups","in":"query","description":"the comma-separated Adready Id & start date (separated by |) combination to filter","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"attribution","in":"query","description":"the conversion attribution to be used, either full or partial","schema":{"type":"string","default":"full","enum":["full","partial"]}},{"name":"methodology","in":"query","description":"the methodology to be used, either first_touch/last_touch/linear/time_decay","schema":{"type":"string","default":"last_touch","enum":["first_touch","last_touch","linear","time_decay"]}},{"name":"event","in":"query","description":"the event","schema":{"type":"string"}},{"name":"category","in":"query","description":"the pixel category","required":true,"schema":{"type":"string"}},{"name":"subCategory","in":"query","description":"the comma-separated pixel sub-categories","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"startDate","in":"query","description":"the start date","required":true,"schema":{"type":"string","example":"2022-01-08"}},{"name":"endDate","in":"query","description":"the end date","required":true,"schema":{"type":"string","example":"2022-01-14"}},{"name":"fields","in":"query","description":"the comma-separated fields to return","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"offset","in":"query","description":"the number of records to skip","schema":{"type":"integer","default":0}},{"name":"limit","in":"query","description":"the max number of records to return","schema":{"type":"integer","default":100}},{"name":"onceNow","in":"query","description":"Run this report once?","schema":{"type":"boolean","default":true}},{"name":"emailIt","in":"query","description":"Email this report?","schema":{"type":"boolean","default":false}},{"name":"emailAddr","in":"query","description":"Email address?","schema":{"type":"string"}},{"name":"Accept","in":"header","description":"'application/json' - provides json response. 'text/csv' or 'application/csv' provides csv file.","schema":{"type":"string","default":"application/json"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePagedResultEventMetricsByField"}}}}}}},"/api/advertisers/{advertiserId}/pixelReadyEmailNotification":{"post":{"tags":["advertiser-controller"],"operationId":"sendPixelReadyEmailNotification","parameters":[{"name":"advertiserId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/advertisers/{advertiserId}/performance":{"post":{"tags":["Flip Dashboard"],"summary":"Get performance by creative/adgroup/publisher/channel/audience/mediatype","description":"Returns grouped performance metrics","operationId":"getPerformance","parameters":[{"name":"advertiserId","in":"path","description":"The advertiser ID","required":true},{"name":"groupBy","in":"query","description":"The field to group by","required":true,"schema":{"type":"string","enum":["creative","adgroup","publisher","channel","audience","mediatype"]}},{"name":"client","in":"query","description":"The client name","required":true},{"name":"advertiser","in":"query","description":"The advertiser name","required":true},{"name":"xandrId","in":"query","description":"The advertiser's Xandr ID","required":true},{"name":"pixel","in":"query","description":"The FLIP universal pixel ID","required":true},{"name":"showUniques","in":"query","description":"Whether to show only uniques","schema":{"type":"boolean","default":false}},{"name":"conversionWindow","in":"query","description":"Conversion window in hours","schema":{"type":"integer","default":0}},{"name":"mediaType","in":"query","description":"Media types to filter","schema":{"type":"array","items":{"type":"string"}}},{"name":"startDate","in":"query","description":"The start date","required":true,"schema":{"type":"string","example":"2022-01-08"}},{"name":"endDate","in":"query","description":"The end date","required":true,"schema":{"type":"string","example":"2022-01-14"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Successful response","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MetricsComparisonByField"}}}}}}}},"/api/advertisers/{advertiserId}/performance/metrics/reach":{"post":{"tags":["Flip Dashboard"],"summary":"Get reach and frequency performance metric","description":"Returns reach and frequency metrics for a given advertiser and filters","operationId":"getReachFrequencyMetric","parameters":[{"name":"advertiserId","in":"path","description":"The advertiser ID","required":true,"schema":{"type":"integer"}},{"name":"client","in":"query","description":"The account/client name","required":true},{"name":"advertiser","in":"query","description":"The advertiser name","required":true},{"name":"xandrId","in":"query","description":"The advertiser's XandrId","required":true},{"name":"mediaType","in":"query","description":"Media types to filter (e.g., Display Retargeting, OTT, etc.)","schema":{"type":"array","items":{"type":"string"}}},{"name":"creative","in":"query","description":"Comma-separated creative IDs to filter","schema":{"type":"array","items":{"type":"string"}}},{"name":"publisher","in":"query","description":"Comma-separated publisher names to filter","schema":{"type":"array","items":{"type":"string"}}},{"name":"audience","in":"query","description":"Comma-separated audience names to filter","schema":{"type":"array","items":{"type":"string"}}},{"name":"ioIds","in":"query","description":"Comma-separated IO IDs to filter","schema":{"type":"array","items":{"type":"string"}}},{"name":"adGroups","in":"query","description":"Comma-separated AdReady ID & start date (separated by |) combination to filter","schema":{"type":"array","items":{"type":"string"}}},{"name":"startDate","in":"query","description":"Start date","required":true,"schema":{"type":"string","example":"2021-05-24"}},{"name":"endDate","in":"query","description":"End date","required":true,"schema":{"type":"string","example":"2021-05-31"}},{"name":"compareStartDate","in":"query","description":"Compare start date","schema":{"type":"string","example":"2021-05-17"}},{"name":"compareEndDate","in":"query","description":"Compare end date","schema":{"type":"string","example":"2021-05-23"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Successful operation","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReachMetric"}}}}}}},"/api/advertisers/{advertiserId}/performance/daily":{"post":{"tags":["Flip Dashboard","Performance"],"summary":"Get daily CPM/CPA/ROAS/VCR/CTR performance","description":"Retrieve daily metrics such as CPM, CPA, ROAS, VCR, and CTR.","operationId":"getDailyPerformance","parameters":[{"name":"advertiserId","in":"path","description":"the advertiser id","required":true,"schema":{"type":"integer"}},{"name":"kind","in":"query","description":"the kind of data to be returned, either CPM or CPA or ROAS or VCR or CTR","required":true,"schema":{"type":"string","enum":["cpm","cpa","roas","vcr","ctr"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDailyPerformanceSummary"}}}}}}},"/api/advertisers/{advertiserId}/media_types":{"post":{"tags":["advertiser","Flip Dashboard"],"summary":"Get media types for an advertiser","description":"Get media types for an advertiser","operationId":"getMediaTypes","parameters":[{"name":"advertiserId","in":"query","description":"the advertiser id","required":true},{"name":"client","in":"query","description":"the account/client name","required":true},{"name":"advertiser","in":"query","description":"the advertiser name","required":true},{"name":"ioIds","in":"query","description":"the comma-separated IO ids to filter","schema":{"type":"string"}},{"name":"startDate","in":"query","description":"the start date","required":true,"example":"2022-01-08"},{"name":"endDate","in":"query","description":"the end date","required":true,"example":"2022-01-14"},{"name":"adGroups","in":"query","description":"the comma-separated Adready Id & start date (separated by |) combination to filter","schema":{"type":"string"}},{"name":"includeNonFlip","in":"query","description":"flag to decide whether to include non-flip IOs in the response or not","schema":{"type":"string","enum":["true","false"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/advertisers/{advertiserId}/mdsp/performance/daily":{"post":{"tags":["Flip Dashboard"],"summary":"Get daily CPM/CPA/ROAS/VCR/CTR performance","description":"Retrieve daily performance metrics like CPM, CPA, ROAS, VCR, CTR","operationId":"getDailyPerformance_1","parameters":[{"name":"advertiserId","in":"path","description":"the advertiser id","required":true,"schema":{"type":"integer"}},{"name":"kind","in":"query","description":"the kind of data to be returned, either CPM or CPA or ROAS or VCR or CTR","required":true,"schema":{"type":"string","enum":["cpm","cpa","roas","vcr","ctr"]}},{"name":"client","in":"query","description":"the account/client name","required":true,"schema":{"type":"string"}},{"name":"advertiser","in":"query","description":"the advertiser name","required":true,"schema":{"type":"string"}},{"name":"xandrId","in":"query","description":"the advertiser's XandrId","required":true,"schema":{"type":"string"}},{"name":"pixel","in":"query","description":"the FLIP universal pixel id","required":true,"schema":{"type":"string"}},{"name":"showUniques","in":"query","description":"flag to decide whether to show only uniques or not","schema":{"type":"boolean","default":false,"enum":["true","false"]}},{"name":"conversionWindow","in":"query","description":"the conversion window in hours","schema":{"type":"integer","default":0}},{"name":"mediaType","in":"query","description":"the media types to filter (e.g. Display Retargeting, OTT, etc.)","schema":{"type":"string"}},{"name":"creative","in":"query","description":"the comma-separated creative ids to filter","schema":{"type":"string"}},{"name":"publisher","in":"query","description":"the comma-separated publisher names to filter","schema":{"type":"string"}},{"name":"audience","in":"query","description":"the comma-separated audience names to filter","schema":{"type":"string"}},{"name":"ioIds","in":"query","description":"the comma-separated IO ids to filter","schema":{"type":"string"}},{"name":"adGroups","in":"query","description":"the comma-separated Adready Id & start date (separated by |) combination to filter","schema":{"type":"string"}},{"name":"attribution","in":"query","description":"the conversion attribution to be used, either full or partial","schema":{"type":"string","default":"full","enum":["full","partial"]}},{"name":"methodology","in":"query","description":"the methodology to be used, either first_touch/last_touch/linear/time_decay","schema":{"type":"string","default":"last_touch","enum":["first_touch","last_touch","linear","time_decay"]}},{"name":"event","in":"query","description":"the event","schema":{"type":"string"}},{"name":"category","in":"query","description":"the pixel category","required":true,"schema":{"type":"string"}},{"name":"subCategory","in":"query","description":"the comma-separated pixel sub-categories","schema":{"type":"string"}},{"name":"startDate","in":"query","description":"the start date","required":true,"schema":{"type":"string","format":"date"},"example":"2022-01-08"},{"name":"endDate","in":"query","description":"the end date","required":true,"schema":{"type":"string","format":"date"},"example":"2022-01-14"},{"name":"compareStartDate","in":"query","description":"the compare start date","schema":{"type":"string","format":"date"},"example":"2022-01-01"},{"name":"compareEndDate","in":"query","description":"the compare end date","schema":{"type":"string","format":"date"},"example":"2022-01-07"},{"name":"cumulative","in":"query","description":"flag to specify cumulative or not.","schema":{"type":"boolean","default":true,"enum":["true","false"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Successful response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDailyPerformanceSummary"}}}}}}},"/api/advertisers/{advertiserId}/mdsp/impressions/summary":{"post":{"tags":["Flip Dashboard"],"summary":"Get impressions summary (MDSP)","description":"Retrieve impressions summary data filtered by various parameters","operationId":"getImpressionsSummary","parameters":[{"name":"advertiserId","in":"path","description":"The advertiser id","required":true,"schema":{"type":"integer"}},{"name":"kind","in":"query","description":"Return what data? Choices: Impressions / Ad Spend / Video Completions / Clicks","schema":{"type":"string","default":"views","enum":["views","spend","videoCompletions","clicks"]}},{"name":"client","in":"query","description":"The account/client name","required":true,"schema":{"type":"string"}},{"name":"advertiser","in":"query","description":"The advertiser name","required":true,"schema":{"type":"string"}},{"name":"xandrId","in":"query","description":"The advertiser's XandrId","required":true,"schema":{"type":"string"}},{"name":"mediaType","in":"query","description":"The media types to filter (e.g. Display Retargeting, OTT, etc.)","schema":{"type":"string"}},{"name":"creative","in":"query","description":"The comma-separated creative ids to filter","schema":{"type":"string"}},{"name":"publisher","in":"query","description":"The comma-separated publisher names to filter","schema":{"type":"string"}},{"name":"audience","in":"query","description":"The comma-separated audience names to filter","schema":{"type":"string"}},{"name":"ioIds","in":"query","description":"The comma-separated IO ids to filter","schema":{"type":"string"}},{"name":"adGroups","in":"query","description":"The comma-separated Adready Id & start date (separated by |) combination to filter","schema":{"type":"string"}},{"name":"startDate","in":"query","description":"The start date","required":true,"schema":{"type":"string","format":"date"},"example":"2022-01-08"},{"name":"endDate","in":"query","description":"The end date","required":true,"schema":{"type":"string","format":"date"},"example":"2022-01-14"},{"name":"compareStartDate","in":"query","description":"The compare start date","schema":{"type":"string","format":"date"},"example":"2022-01-01"},{"name":"compareEndDate","in":"query","description":"The compare end date","schema":{"type":"string","format":"date"},"example":"2022-01-07"}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Successful response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseImpressionsSummary"}}}}}}},"/api/advertisers/{advertiserId}/mdsp/impressions/distribution":{"post":{"tags":["Flip Dashboard"],"summary":"Get impressions distribution","operationId":"getImpressionsDistribution","parameters":[{"name":"advertiserId","in":"path","description":"the advertiser id","required":true},{"name":"kind","in":"query","description":"Return what data? Choices: Impressions/Ad Spend/Video Completions/Clicks","required":true,"schema":{"type":"string","enum":["views","spend","videoCompletions","clicks"]}},{"name":"groupBy","in":"query","description":"Group by?, Choices: creative/adgroup/device/daypart/publisher/channel/audience/state/dma/mediatype","required":true,"schema":{"type":"string","enum":["creative","adgroup","device","daypart","publisher","channel","audience","state","dma","mediatype"]}},{"name":"client","in":"query","description":"the account/client name","required":true},{"name":"advertiser","in":"query","description":"the advertiser name","required":true},{"name":"xandrId","in":"query","description":"the advertiser's XandrId","required":true},{"name":"mediaType","in":"query","description":"the media types to filter (e.g. Display Retargeting, OTT, etc.)","schema":{"type":"string"}},{"name":"creative","in":"query","description":"the comma-separated creative ids to filter","schema":{"type":"string"}},{"name":"publisher","in":"query","description":"the comma-separated publisher names to filter","schema":{"type":"string"}},{"name":"audience","in":"query","description":"the comma-separated audience names to filter","schema":{"type":"string"}},{"name":"ioIds","in":"query","description":"the comma-separated IO ids to filter","schema":{"type":"string"}},{"name":"adGroups","in":"query","description":"the comma-separated Adready Id & start date (separated by |) combination to filter","schema":{"type":"string"}},{"name":"startDate","in":"query","description":"the start date","required":true,"example":"2022-01-08"},{"name":"endDate","in":"query","description":"the end date","required":true,"example":"2022-01-14"}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"successful operation","content":{"application/json":{}}}}}},"/api/advertisers/{advertiserId}/mdsp/impressions/daily":{"post":{"tags":["Flip Dashboard"],"summary":"Get daily impressions details","description":"Return daily impressions details for given filters","operationId":"getDailyImpressions","parameters":[{"name":"advertiserId","in":"path","description":"The advertiser id","required":true,"schema":{"type":"integer"}},{"name":"kind","in":"query","description":"Return what data? Choices: Impressions / Ad Spend / Video Completions / Clicks","required":true,"schema":{"type":"string","default":"views","enum":["views","spend","videoCompletions","clicks"]}},{"name":"client","in":"query","description":"The account/client name","required":true,"schema":{"type":"string"}},{"name":"advertiser","in":"query","description":"The advertiser name","required":true,"schema":{"type":"string"}},{"name":"xandrId","in":"query","description":"The advertiser's XandrId","required":true,"schema":{"type":"string"}},{"name":"mediaType","in":"query","description":"The media types to filter (e.g. Display Retargeting, OTT, etc.)","schema":{"type":"string"}},{"name":"creative","in":"query","description":"The comma-separated creative ids to filter","schema":{"type":"string"}},{"name":"publisher","in":"query","description":"The comma-separated publisher names to filter","schema":{"type":"string"}},{"name":"audience","in":"query","description":"The comma-separated audience names to filter","schema":{"type":"string"}},{"name":"ioIds","in":"query","description":"The comma-separated IO ids to filter","schema":{"type":"string"}},{"name":"adGroups","in":"query","description":"The comma-separated Adready Id & start date (separated by |) combination to filter","schema":{"type":"string"}},{"name":"startDate","in":"query","description":"The start date","required":true,"schema":{"type":"string","format":"date"},"example":"2022-01-08"},{"name":"endDate","in":"query","description":"The end date","required":true,"schema":{"type":"string","format":"date"},"example":"2022-01-14"},{"name":"compareStartDate","in":"query","description":"The compare start date","schema":{"type":"string","format":"date"},"example":"2022-01-01"},{"name":"compareEndDate","in":"query","description":"The compare end date","schema":{"type":"string","format":"date"},"example":"2022-01-07"},{"name":"cumulative","in":"query","description":"Flag to specify cumulative or not.","schema":{"type":"boolean","default":true,"enum":["true","false"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{}}}}}},"/api/advertisers/{advertiserId}/lift/summary":{"post":{"tags":["Flip Dashboard"],"summary":"Get incrementality & brand lift summary","operationId":"getLiftSummary","parameters":[{"name":"advertiserId","in":"path","description":"the advertiser id","required":true,"schema":{"type":"integer"}},{"name":"client","in":"query","description":"the account/client name","required":true,"schema":{"type":"string"}},{"name":"advertiser","in":"query","description":"the advertiser name","required":true,"schema":{"type":"string"}},{"name":"xandrId","in":"query","description":"the advertiser's XandrId","required":true,"schema":{"type":"string"}},{"name":"pixel","in":"query","description":"the FLIP universal pixel id","required":true,"schema":{"type":"string"}},{"name":"showUniques","in":"query","description":"flag to decide whether to show only uniques or not","schema":{"type":"boolean","default":false,"enum":["true","false"]}},{"name":"conversionWindow","in":"query","description":"the conversion window in hours","schema":{"type":"integer","default":0}},{"name":"mediaType","in":"query","descripti
[...]
